---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION, REPOSITORY_GITHUB_URL } from "../config";
import PostsList from "../components/PostsList.astro";
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Hello World!</h1>
			<p>This is the offical page/blag of Charlie "cc0d35" Codes.</p>
			<p>
				I am a programmer and I just needed a place to consolidate some
				of my thoughts and observations.
			</p>
			<p>
				Sources of this blag are available on
				<a href={REPOSITORY_GITHUB_URL}>GitHub</a>.
			</p>
			<hr />
			<h2>Posts</h2>
			<PostsList />
		</main>
		<Footer />
	</body>
</html>
